/* Styles go here */

body {
    background-color: orange !important;
  }



.button_menu{
    font-size: 15px !important;
    text-align: center;
    color: grey;
    display: block;
    background-color: #EFEFEF;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.5em;
    height: 2.3em;
    margin: auto 0.3em;
  }


.button_menu:hover{
    color: teal;
    background-color: #ffffff;
    box-shadow: 5px 5px 2px grey;
    text-shadow: 0px 0px 0px;
}

.button_attitude{
    text-decoration: none;
    padding: 8px;
    color: #ffffff;
    background-color: teal;
    border-radius: 6px;
    border: 1px solid;
    text-shadow: 2px 2px 0px black;
    box-shadow: 3px 3px grey;
    margin-right: 5px;
}

.button_attitude:hover{
    color: teal;
    background-color: #ffffff;
    box-shadow: 3px 3px grey;
    text-shadow: 0px 0px 0px black;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number], select {
    width: 100%;center
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form {
    width:300px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 auto;
}

/*Table Style */
.rankingTable {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  /* border:1px solid black; */
  font-size: 1rem;
  margin: 0.5rem;
  line-height: 1.5;
  width: 61%;
  /* margin: 0 auto; */
}
.rankingTableHeader {

}

.rankingTableRow {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.rankingTableItem {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
}

/*Page grid style */
.itemHeader { grid-area: header; }
.itemNav { grid-area: nav; }
.itemLeft { grid-area: rankingLeft; }
.itemMid { grid-area: main; }
.itemNotification { grid-area: notification; }
.itemFooter { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header nav nav nav nav'
    'main main main main main'
    'notification notification notification notification notification'
    'footer footer footer footer footer';
  grid-gap: 10px;
  /*background-color: #D3D3D3;*/
  padding: 0.5%;
}
.grid-container > div {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  text-align: center;
  padding: 0.5% 0;
  /* font-size: 30px; */
}

.content {
  margin: 0 auto;
  padding-bottom: 2%;
  background-color: white;
}

.itemNav {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  background-color: orange;
  height: 70%;
}

.itemHeader {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  height: 70%;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

a:link{ color: #0f0753 } /* visited links */
a:visited { color: blue } /* visited links */
a:active { color: black } /* active links */

h1 {
 text-shadow: 1px 1px 0px white, 2px 2px 0px grey;
}

/* footer{
  margin-left: 20%;
  padding: 4px;
  background-color: teal;
  background-clip:border-box;
  position:fixed;
  bottom:0;
  width: 60%;
} */

header{
  margin-left: 20%;
  margin-right: 20%;
  background: url(http://www.makdigitaldesign.com/wp-content/uploads/2017/10/css3-in-all-its-glory.png);
  background-repeat: no-repeat;
  background-origin:content-box;
  background-size: 100% auto;
}

/* * {
  box-sizing: border-box;
} */

@media screen and (min-width:300px) {
  /* For mobile phones: */
  /*.itemNav, .itemMid, .right {
    width:100%;
    background-color: red;
  }*/
  /* .grid-container {
    display: grid;
    grid-template-areas:
      'header'
      'nav'
      'main'
      'notification'
      'footer'
  } */
}

@media screen and (min-width:1024px) {
  .itemNav {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    background-color: orange;
    height: 70%;
  }
}

@media screen and (max-width:1024px) {

  .grid-container {
    display: grid;
    grid-template-areas:
      'header'
      'nav'
      'main'
      'notification'
      'footer';
      grid-gap: 10px;
      /*background-color: #D3D3D3;*/
      padding: 0.5%;
  }

  .itemNav {
    width: 100%;
    display: table;
    /* flex-flow: row nowrap; */
    margin: 0 auto;
    background-color: blue;
    height: 70%;
  }

  .itemNav > div {
    height: 120px;
    margin: 15px;
  }

  .content {
    width: 100%;
    background-color: white;
  }
}


/* #hrefHumans{
  -moz-transform: rotate(23deg);
  -webkit-transform: rotate(23deg);
  -o-transform: rotate(23deg);
  transform: rotate(23deg);
} */

/* #addStudent{
  -moz-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
  animation:spinRight 3s;
}

#addGradedTask{
  -moz-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
  animation:spinLeft 3s;
}

#RankingTittle{
  transform:translate(10px,10px);
}

#hrefHumans{
  animation:rightThenLeft 3s;
}

@keyframes spinRight {
  100% {
    -webkit-transform: rotate(360deg); transform:rotate(355deg);
  }
}

@keyframes spinLeft {
  100% {
    -webkit-transform: rotate(-360deg); transform:rotate(-355deg);
  }
}
@keyframes rightThenLeft {
    0%   {margin-right:100%;}
    50%  {margin-right:0;}
    75% {margin-left:90%;}
    100% {margin-right:0;}
} */
