/* Styles go here */

.body {
    background-color: #E2E8E6 !important;
    font-family: helvetica;
  }

.header__button-menu {
    text-align: center;
    display: flex;
    background-color: #E2E8E6;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.5em;
    height: 2.3em;
    margin: auto 5em;
    font-weight: bold;
    justify-content: center;
    flex-direction: column;
  }

.header__button-menu:hover {
    color: #F74356;
    background-color: #ffffff;
    -webkit-transition: background-color 1s ease-out;
    -moz-transition: background-color 1s ease-out;
    -o-transition: background-color 1s ease-out;
    transition: background-color 1s ease-out;
}

.rankingTable__button_attitude {
    text-decoration: none;
    padding: 8px;
    color: #ffffff;
    background-color: #F74356;
    border-radius: 6px;
    /* border: 1px solid; */
    /* text-shadow: 2px 2px 0px black; */
    /* box-shadow: 3px 3px grey; */
    margin-right: 5px;
    font-weight: bold;
}

.rankingTable__button_attitude:hover {
    color: teal;
    background-color: #ffffff;
    box-shadow: 3px 3px grey;
    text-shadow: 0px 0px 0px black;
}

.button_save {
  /* font-size: 15px !important; */
  text-align: center;
  color: grey;
  display: block;
  background-color: #EFEFEF;
  padding: 0.5em;
  height: 2.3em;
  margin: auto 5em;
  font-weight: bold;
}

.inputText {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.inputNumber {
    width: 100%;
    padding: 5px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form {
    width:300px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 auto;
}

/*Table Style */
.itemMid__rankingTable {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  font-size: 1rem;
  margin: 0.5rem;
  line-height: 1.5;
  width: 61%;
  background-color: #E2E8E6;
  border-radius: 6px;
  /* border: 1px solid grey; */
  /* height: 40em; */
}
.rankingTable__rankingTableHeader {

}

.rankingTable__rankingTableRow {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.rankingTable__rankingTableItem {
  display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em;
}

.addStudent {

}

/*Page grid style */
.itemHeader { grid-area: header; }
.header { grid-area: header; }
.itemLeft { grid-area: rankingLeft; }
.itemMid { grid-area: main; }
.itemNotification { grid-area: notification; }
.itemFooter { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'notification'
    'footer';
  grid-gap: 10px;
  padding: 0.5%;
}
.grid-container__div {
  text-align: center;
  padding: 0.5% 0;
}

.itemMid__content {
  margin: 0 auto;
  padding-bottom: 2%;
}

.header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  background-color: #E2E8E6;
  height: 90%;
}

.itemHeader {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  height: 70%;
}

.itemFooter {
  background-color: #464E47;
  color: white;
}

.itemNotification {
  background-color: #F74356;
}

.inputTextArea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

a:link{ color: #0f0753 } /* visited links */
a:visited { color: blue } /* visited links */
a:active { color: black } /* active links */

/* h1 {
 text-shadow: 1px 1px 0px white, 2px 2px 0px grey;
} */

.header__titleFont {
  font-size: 3.5em;
  color: #F74356;

}

.header__menuFont {
  font-size: 1.2em;
  color: #464E47;
}

.rankingTable__tableHeaderFont {
  font-size: 1.2em;
  /* color: #0E1011; */
  color: #464E47;
  font-weight: bold;
}

.rankingTable__tableStudentFont {
  font-size: 1.1em;
  color: #464E47;
  /* color: #4A5A5E; */
}

/* footer{
  margin-left: 20%;
  padding: 4px;
  background-color: teal;
  background-clip:border-box;
  position:fixed;
  bottom:0;
  width: 60%;
} */

/*header{
  margin-left: 20%;
  margin-right: 20%;
  background: url(http://www.makdigitaldesign.com/wp-content/uploads/2017/10/css3-in-all-its-glory.png);
  background-repeat: no-repeat;
  background-origin:content-box;
  background-size: 100% auto;
}*/


/* @media screen and (min-width:300px) {

} */

@media screen and (min-width:1024px) {
  /* .header {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    margin: 0 auto;
    background-color: orange;
    height: 70%;
  } */
}

@media screen and (max-width:1024px) {

  .header {
    display: table;
  }

  .header__button-menu {
    display: flex;
    height: 5em;
    margin: 15px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .itemMid__content {
    width: 100%;
    /* background-color: white; */
  }

  .rankingTable__tableHeaderFont {
    text-align: center;
    width: 100%;
  }
}


/* #hrefHumans{
  -moz-transform: rotate(23deg);
  -webkit-transform: rotate(23deg);
  -o-transform: rotate(23deg);
  transform: rotate(23deg);
} */

/* #addStudent{
  -moz-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
  animation:spinRight 3s;
}

#addGradedTask{
  -moz-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
  animation:spinLeft 3s;
}

#RankingTittle{
  transform:translate(10px,10px);
}

#hrefHumans{
  animation:rightThenLeft 3s;
}

@keyframes spinRight {
  100% {
    -webkit-transform: rotate(360deg); transform:rotate(355deg);
  }
}

@keyframes spinLeft {
  100% {
    -webkit-transform: rotate(-360deg); transform:rotate(-355deg);
  }
}
@keyframes rightThenLeft {
    0%   {margin-right:100%;}
    50%  {margin-right:0;}
    75% {margin-left:90%;}
    100% {margin-right:0;}
} */
