/* Styles go here */
/*------------------------------------*\
    Contenido del html
\*------------------------------------*/
/*
  * Header..............Contiene la navegación de la web. Situado en la parte superior.
  * Body................Contiene toda la estructura de la web.Situado en la parte intermedia.
  * NotificationArea....En este espacio se muestran las acciones que realizamos sobre los estudiantes.
  * Footer..............Contiene la información sobre el desarrollador de la web. Situado en la aprte inferior.
  * RankingTable........Contine la mayor funcionalidad de la web. Muestra una tabla con los estudiantes y las tareas.
  * Forms...............Formularios para crear estudiantes y tareas.
*/

.body {
    background-color: #E2E8E6 !important;
    font-family: helvetica;
  }

.header__button-menu {
    text-align: center;
    display: flex;
    background-color: #E2E8E6;
    flex-flow: row nowrap;
    flex-grow: 1;
    flex-basis: 0;
    padding: 0.5em;
    height: 2.3em;
    margin: auto 3.2em;
    font-weight: bold;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
  }

.header__button-menu:hover {
    color: #F74356;
    background-color: #ffffff;
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.rankingTable__button_attitude {
    text-decoration: none;
    padding: 8px;
    color: #ffffff;
    background-color: #F74356;
    border-radius: 6px;
    /* border: 1px solid; */
    /* text-shadow: 2px 2px 0px black; */
    /* box-shadow: 3px 3px grey; */
    margin-right: 5px;
    font-weight: bold;
}

.rankingTable__button_attitude:hover {
    color: teal;
    background-color: #ffffff;
    box-shadow: 3px 3px grey;
    text-shadow: 0px 0px 0px black;
}

.button_save {
  width: 100%;
  background-color: #F74356;
  color: white;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.4em;
}

.inputText {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.inputNumber {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.inputNumberForm {
  width: 100%;
  padding: 12px 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form {
    width:300px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin: 0 auto;
}

/*Table Style */
.itemMid__rankingTable {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 0.5rem;
  line-height: 1.5;
  width: 61%;
  background-color: #E2E8E6;
  border-radius: 6px;
  overflow: auto;
  max-width: 100%;
}
.rankingTable__rankingTableHeader {
  /* padding: 0.5em;
  min-width: 12%;
  text-align: center; */
}

.rankingTable__rankingTableRow {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.rankingTable__rankingTableItem {
  /* display: flex;
  flex-flow: row nowrap;
  flex-grow: 1;
  flex-basis: 0;
  padding: 0.5em; */
  padding: 0.5em;
  min-width: 12%;
}

/*Page grid style */
.itemHeader { grid-area: header; }
.header { grid-area: header; }
.itemLeft { grid-area: rankingLeft; }
.itemMid { grid-area: main; }
.itemNotification { grid-area: notification; }
.itemFooter { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'notification'
    'footer';
  grid-gap: 10px;
  padding: 0.5%;
}
.grid-container__div {
  text-align: center;
  padding: 0.5% 0;
}

.itemMid__content {
  margin: 0 auto;
  padding-bottom: 2%;
}

.header {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  background-color: #E2E8E6;
  height: 90%;
}

.itemHeader {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  text-align: center;
  height: 70%;
}

.itemFooter {
  background-color: #464E47;
  color: white;
}

.itemNotification {
  padding: 1em;
  background-color: #F74356;
}

.inputTextArea {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

a:link{ color: white } /* visited links */
a:visited { color: white } /* visited links */


.header__titleFont {
  font-size: 3.5em;
  color: #F74356;
}

.header__menuFont {
  font-size: 1.2em;
  color: #464E47;
}

.rankingTable__tableHeaderFont {
  font-size: 1.2em;
  /* color: #0E1011; */
  color: #464E47;
  font-weight: bold;
}

.rankingTable__tableStudentFont {
  font-size: 1.1em;
  color: #464E47;
  /* color: #4A5A5E; */
}

.addStudent__title, .addGradedTask__title {
  font-size: 1.5em;
  display: block;
  font-weight: bold;
  margin: 1.5em;
}

.form__textLabel {
  font-size: 1em;
}


/* footer{
  margin-left: 20%;
  padding: 4px;
  background-color: teal;
  background-clip:border-box;
  position:fixed;
  bottom:0;
  width: 60%;
} */

/*header{
  margin-left: 20%;
  margin-right: 20%;
  background: url(http://www.makdigitaldesign.com/wp-content/uploads/2017/10/css3-in-all-its-glory.png);
  background-repeat: no-repeat;
  background-origin:content-box;
  background-size: 100% auto;
}*/


/* @media screen and (min-width:300px) {

} */

/* @media screen and (min-width:1024px) {

} */

@media screen and (max-width:1024px) {

  .header {
    display: table;
  }

  .header__button-menu {
    display: flex;
    height: 4em;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 10px auto;
    background-color: white;
  }

  .header__menuFont {
    font-size: 2.5em;
  }

  .itemMid__content {
    width: 100%;
  }

  .rankingTable__tableHeaderFont {
    text-align: center;
    width: 100%;
  }

  .header__titleFont {
    font-size: 8em;
    text-align: center;
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  .rankingTable__tableStudentFont {
    font-size: 2em;
  }

  .rankingTable__tableHeaderFont {
    font-size: 2em;
  }

  .itemNotification {
    margin-top: 4em;
    font-size: 30px;
  }

  .itemFooter {
    font-size: 30px;
  }

  .form {
    width: 90%;
  }

  .inputText, .inputTextArea, .inputNumberForm{
      font-size: 4em;
  }

  .addStudent__title, .addGradedTask__title {
    font-size: 2.5em;
  }

  .form__textLabel {
    font-size: 2.5em;
  }

  .button_save {
    font-size: 4em;
    padding: 25px 20px;
  }
}


/* #hrefHumans{
  -moz-transform: rotate(23deg);
  -webkit-transform: rotate(23deg);
  -o-transform: rotate(23deg);
  transform: rotate(23deg);
} */

/* #addStudent{
  -moz-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
  animation:spinRight 3s;
}

#addGradedTask{
  -moz-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -o-transform: rotate(5deg);
  transform: rotate(5deg);
  animation:spinLeft 3s;
}

#RankingTittle{
  transform:translate(10px,10px);
}

#hrefHumans{
  animation:rightThenLeft 3s;
}

@keyframes spinRight {
  100% {
    -webkit-transform: rotate(360deg); transform:rotate(355deg);
  }
}

@keyframes spinLeft {
  100% {
    -webkit-transform: rotate(-360deg); transform:rotate(-355deg);
  }
}
@keyframes rightThenLeft {
    0%   {margin-right:100%;}
    50%  {margin-right:0;}
    75% {margin-left:90%;}
    100% {margin-right:0;}
} */
