<div class="itemMid__content">
  <h3>Add new Graded Task</h3>
  We understand as a graded task any test or practice that will be marked by teacher and should be reflected in the final mark.
  <br><br>
  <form class="form" id="newGradedTask">
    Task name:<br>
    <input class="inputText" type="text" id="idTaskName" name="taskname" value="" required>
    <br>
    Task description:<br>
    <textarea class="inputTextArea" rows="4" cols="50" id="idTaskDescription" name="taskdescription" value="" required></textarea>
    <br>
    Task Weight (0-100 %):<br>
    <input class="inputNumber" type="number" id="idTaskWeight" name="taskweight" value="" required>
    <br><br>
    <input type="submit" class="button_menu" value="Save">
  </form>
</div>
