<div class="itemMid__content">
  <div class="addStudent">
    <label class="addStudent__title">Add new Student</label>
    <form class="form" id="newStudent">
      <label for="firstname" class="form__textLabel">First name:</label>
      <input class="inputText" type="text" id="idFirstName" name="firstname" value="" required>
      <br><br>
      <label for="surnames" class="form__textLabel">Surnames:</label>
      <input class="inputText" type="text" id="idSurnames" name="surnames" value="" required>
      <br><br>
      <input type="submit" class="button_save" value="Save">
    </form>
  </div>
</div>
