
<div class="itemMid__rankingTable itemMid__content" id="idTableRankingBody">
  <div class="itemMid__rankingTable__rankingTableRow itemMid__rankingTable__rankingTableHeader">
    <div class="itemMid__rankingTable__rankingTableRow itemMid__rankingTable__rankingTableHeader"></div>
    <div class="itemMid__rankingTable__rankingTableRow itemMid__rankingTable__rankingTableHeader"></div>
    <div class="itemMid__rankingTable__rankingTableRow itemMid__rankingTable__rankingTableHeader"></div>
    ${GRADED_TASKS}
  </div>
</div>
