
<div class="itemMid__rankingTable itemMid__content" id="idTableRankingBody">
  <div class="rankingTable__rankingTableRow rankingTable__rankingTableHeader">
    <div class="rankingTable__rankingTableRow rankingTable__rankingTableItem rankingTable__tableHeaderFont" ></div>
    <div class="rankingTable__rankingTableRow rankingTable__rankingTableItem rankingTable__tableHeaderFont"></div>
    <div class="rankingTable__rankingTableRow rankingTable__rankingTableItem rankingTable__tableHeaderFont"></div>
    ${GRADED_TASKS}
  </div>
</div>
